.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.checkout-text {
    font-size: 24px;
    padding-top: 10px;
}

.Label {
    font-weight: bold;
}

.Input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}